.girl-img-responsive 
{
	height: 440px;
	width: 300px;
	margin-left: 100px;
}
.kids img
{
	width: 150px;
	margin-top: 30px;
	height: 250px;
}
.kids1 
{
	width: 150px;
	margin-left: 50px;
	margin-top: 30px;
}
.kids1 
{
	height: 320px;
}

.ldjeans img
{
	height:370px;
}
.product-image-wrapper
{
	height: 350px;
}
.product-image-wrapper 
{
	height: 370px;
}
.overplay
{
	margin-bottom: 220px;
}
.md img

{
	height: 150px;
}
.height img
{
	height: 550px;
}
.margin
{
	margin-top: 15px;
}
#image img
{
	height: 245px;
}
/*middle*/
#midimage img
{
	height: 270px;
}
